<div class="col-md-offset-3 col-md-6" id="about" > 
<h1 class="project_about">ABOUT</h1>
<p class="project_desc">High Five is a positive interaction happening between excited people. What if we have more chance to do high five in everyday life? High-Five camera is an interactive web application that encourages people to do high-five more and captures a gif image of that instant to record the energy and share with others to create vibrant communities.</p>
</div>

<div class="col-md-offset-3 col-md-6" id="about" > 
<p class="project_desc">This project was exhibited in <a href="http://itp.nyu.edu/itp/">ITP</a> Winter show 2013. I’ve contacted by a variety range of people from an arist to educator that they wanted to try this on their place. I am looking forward to develop further to involve more communities to encourage more positive physical interaction among people. If you are interested in installing this project, follow the instruction below.</p>
</div>

<div class="col-md-offset-2 col-md-8" id="howitworks">
	<h3 style="margin:20px 0;text-align:center" class="install">HOW IT WORKS</h3>
</div>
<div class="col-md-offset-2 col-md-8" id="fold1">
		<img class="howto"src="../img/howitworks_01.png">
	<img class="howto"src="../img/howitworks_02.png">
</div>
<br>
<div class="col-md-offset-2 col-md-8" id="howto">
	<h3 style="margin:20px 0;text-align:center" class="install">DO YOU WANT THIS?</h3>
</div>
<div class="col-md-offset-2 col-md-8" id="fold2">
	<img class="howto"src="../img/howto_00.png">
	<img class="howto"src="../img/howto_01.png">
	<img class="howto"src="../img/howto_02.png">
	<img class="howto"src="../img/howto_03.png">
	<img class="howto"src="../img/howto_04.png">
	<img class="howto"src="../img/howto_05.png">	
</div>
<script>
	$(document).ready(function(){
		$('#fold2').hide();
		$('#fold1').hide();

		$('#howitworks').click(function(){
			$('#fold1').slideToggle();
		});
		$('#howto').click(function(){
			$('#fold2').slideToggle();
		});
	});
</script>
	

<style type="text/css">
	#about
	{
		text-align: center;
	}
	p
	{
		margin: auto;
	}
	.project_about{
		letter-spacing:2px;
		font-weight:300;
		opacity:0.9;
	}
	.project_desc{
		line-height:1.7em;
		opacity:0.7;
		font-weight:300 !important;
		letter-spacing :0.7px;
		text-align:left;
		margin:15px 0;

	}
	.install{
		text-align:center;
		margin:20px 0;
		font-weight:300;
		letter-spacing:1.5px;
	}
	.howto{
		opacity:0.9;
		margin:20px 0;
	}
</style>