<div class="col-md-offset-3 col-md-6" id="about" > 
<h1>ABOUT THIS PROJECT</h1>
<p class="project_desc">High Five is a positive interaction happening between excited people . What if we have more chance to do high five in everyday life? High-Five camera is an interactive web application that encourages people to do high-five more and captures a gif image of that instant to record the energy and share with others to create vibrant communities.</p>
</div>
<div class="col-md-offset-2 col-md-8">
	<h2 style="margin:20px 0;">How to setup in your community</h2>
	<img class="howto"src="../img/howto_00.png">
	<img class="howto"src="../img/howto_01.png">
	<img class="howto"src="../img/howto_02.png">
	<img class="howto"src="../img/howto_03.png">
	<img class="howto"src="../img/howto_04.png">
	<img class="howto"src="../img/howto_05.png">
	

</div>

<style type="text/css">
	#about
	{
		text-align: center;
	}
	p
	{
		margin: auto;
	}
	.project_desc{
		margin-top:50px;
		opacity:0.7;
	}
	.howto{
		margin-top:20px 0;
	}
</style>