
      <!-- Display Profile 1 -->
  <div class="row" style="position: relative; left:50px">
    <h1>All Participants</h1>
  </div>

  {{#photos}}
      
  <div class="row" style="float:left" id="all_profile_container">
    <div>
        <a href="/photo/{{_id}}" >
            <img src="https://s3.amazonaws.com/hifivepicture/{{image}}" width="300"  data-toggle="popover" data-placement="bottom" data-content="{{firstName}}" title="{{firstName}}" id="allprofile_display">
      </a>
    </div>

    <div>
        {{firstName}}
    </div>

  </div>

      {{/photos}}
  <div class="row">
    <div> <a href="/">Back Home</a></div>
  </div>


      