		
		<div class="row">
			<div class="col-md-offset-3 col-md-5">
					<h1 id="logo">high five !</h1>
					<p id="logo_p"> will create a gif <span id="clamp"></span>
					<span id="clampeval"></span></p>
			</div>
		</div>

	<!-- Video Container -->
		<div class="row" id="video_container">
			<div class="col-md-offset-3 col-md-6" > 
				<video id="thevideo" width="640" height="480"autoplay  muted="true" style="display:none"></video>
				<canvas id="thecanvas" width="480" height="360"></canvas>    
			</div> 
		</div>
		<br>

		<div class="row" >
			<div class="col-md-offset-3 col-md-6" id="gif_display" width="480" height="120">
			</div>
			<br>
			<div id="audio_container"  class="col-md-offset-3 col-md-8">
				<canvas id="audiograph" width="480" height="200" ></canvas ><br>
				<input type = "button" value ="AudioGraph On" id="audioBtn">
				<!-- Have a sound threshold slider here -->
			</div>
		</div>

		<!-- Gif image container -->	
		<div class="row" id="gif_container" style="display:none" >
			<div class="col-md-offset-3 col-md-6" id="gif_canvas_control">
				<canvas id="gif_box"></canvas> 
				<img src="" width="480" height="360" id="gif_box_img">
		    	<form method="POST" action="/newgif" enctype="multipart/form-data" id="form_container">
					<textarea name="image_data" id="image_data" style="display:none" ></textarea><br><br><br>
					<input type="submit" class="btn btn-danger" value="submit" id="upload">
				</form><br>
				<button id="retake" class="btn btn-success">retake</button>
				</div>
		</div>

		<div class="row" >
			<!-- Audio graph container -->
			
		</div>
	
	<style type="text/css">

		#video_container, #gif_container{
			position: relative;
		}
		#logo
		{
			padding-left: auto;
			padding-right: auto;
			word-spacing: 5px;
		}
		#logo_p
		{
			text-align: center;
		}
		#gif_container
		{
			left:-25px;
		}

		#gif_canvas_control
		{
			position:relative;
			top:-1500px;

		}
		#gif_box
		{
			position: absolute;
			width:520px;
			height:480px;
			z-index: -1;
			border-radius: 2px;		
		}
		#gif_box_img
		{	
			position: relative;
			top:20px;
			left:20px;
			z-index:1000;
			border-radius: 2px;
		}
		#form_container
		{
			position: relative;
			z-index: 1000;

		}
		#upload /*upload button*/
		{	
			font-family:"Gill Sans";
			position: relative;
			z-index: 1000;
			left:420px;
			text-transform: uppercase;
		}
		#retake /*retake button*/
		{	
			font-family:"Gill Sans";
			position: relative;
			z-index: 1000;
			top: -73px;
			left:330px;
			text-transform: uppercase;
		}
		#gif_display
		{
			position: relative;
			top:-7px;
			
			z-index:-3;
		}
		#audio_container
		{
			position: relative;
			left:-2px;
			top:10px;
		}

	</style>
	<!-- Image Array : that captures each picture every 200ms -->
	<div class="row" style="display:none">
	    	<!-- Add images -->
	    	<div id="gallery" class="gallery col-md-offset-3 col-md-6"  ></div>
	    	<img id="img-0" src="">
	    	<img id="img-1" src="">
	    	<img id="img-2" src="">
	    	<img id="img-3" src="">
	    	<img id="img-4" src="">
	    	<img id="img-5" src="">
	    	<img id="img-6" src="">
	    	<img id="img-7" src="">
	    	<img id="img-8" src="">
	    	<img id="img-9" src="">
	    	<img id="img-10" src="">
	    	<img id="img-11" src="">
	    	<img id="img-12" src="">
	    	<img id="img-13" src="">
	    	<img id="img-14" src="">
	    	<img id="img-15" src="">
	 </div>	
	 	
		

		<script src="/js/gif.js"></script>
		<script src="/js/gif.worker.js"></script>
		<script src="/js/body.js"></script>

		<style type="text/css">

			h1{
				margin-top:20px;
			    font-weight:bold;
				font-size:60px;
				text-align:center;
			}

		</style>