

		<div class="row" width="1024" height="768">
	    	<!-- Video Container -->
			<div id="video_container" class="col-md-offset-4 col-md-6"> 
				<h1>Your Score is : <span id="display_score">score goes here</span></h1>
				<h1># <span id="numberOfPicture"></span></h1>
				<canvas id="howmanypeople"></canvas>
				<video id="thevideo" width="320" height="240" autoplay style="display:none" muted="true"></video>
				<canvas id="thecanvas" width="320" height="240"></canvas>
			</div>
		</div>
			<br>
			<br>
		<div class="row">
			<!-- Audio graph container -->
			<div id="audio_container"  class="col-md-offset-4 col-md-6">
				<input type = "button" value ="Audio Graph On" onclick ="videoOn();">
				<input id ="turnoff" type = "button" value ="Audio Graph Off" onclick ="videoOff();">
			
				<input type = "button" value ="Retake" onclick ="retake();">
				<button id="ajax">Get External Content</button>
				<br>
				<br>
				<canvas id="audiograph" width="320" height="100" ></canvas >
			</div>
		</div>
	    	<br>
	    	<br>
    	<div class="row">
	    	<!-- Add images -->
	    	<div id="gallery" class="gallery col-md-offset-3 col-md-6"  ></div>
	    </div>	
	    <br>
	    <br>
	    <br>
	    <br>

<div class="row">
	<div class="col-md-offset-3 col-md-6" id="gallery">
		{{#photos}}
    	
    	<a href="/photo/{{_id}}" class="gallery">
    		<img src="https://s3.amazonaws.com/hifivepicture/{{image}}" width="150" class="dwdphoto img-polaroid" data-toggle="popover" data-placement="bottom" data-content="{{caption}}" title="{{title}}">
    	</a>
	
    	{{/photos}}

    	 <div class="col-md-3">
    	<p>Do you want to submit a picture?</p>
    	
		<form method="POST" action="/newphoto" enctype="multipart/form-data">
			<textarea name="image_data" id="image_data" style="display:none"></textarea>
			<input type="submit" class="btn" value="submit" id="upload">
		</form>
	</div>

	</div>
</div>	
   

    
</div>
</div>

