	<div class="row" id="intro_page">
		
			<p id="intro_logo"><span id="iwant">We want you two</span><br>
				<span id="high">High Five</span><br>
				<span id="more">MORE</span>
			</p>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			setTimeout(function(){
				window.location.assign("/");
			},3000);
		});
	</script>
	<style type="text/css">
		#intro_logo
		{	

			position: relative;
			top: 70px;
			left : 150px;
			line-height: 100%;
			font-size: 100px;
			font-style: bold;
			text-transform: uppercase;
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   			font-weight: 900;
		}
		#iwant
		{	
			font-size: 30px;
			line-height: 20%;
			color:grey;
			
		}
		#high
		{	
			position: relative;
			line-height: 75%;
			left : -7px;
			font-size: 180px;
		}
		#more 
		{	
			position: relative;
			left : -18px;
			line-height: 70%;
			font-size: 300px;
			color : #4B4B4B;
		}
	</style>

