		<div class="row">
	    	<!-- Video Container -->
			<div id="video_container" class="col-md-offset-3 col-md-8"> 
				<h1>Let's take a picture of you!</h1>
				<video id="thevideo" width="640" height="480" autoplay style="display:none" muted="true"></video>
				<canvas id="thecanvas" width="640" height="480"></canvas><br>
				<input id="profileBtn" type="button" value="Take your picture">
			</div>
		


			<div id="submitForm">
	            <h3>To participate in Hi-Five Game, Take your picture :)</h3>
	                <form method="POST" action="/photobooth_upload" enctype="multipart/form-data">
						<textarea name="image_data" id="image_data" style="display:none"></textarea>
						First Name :  <input type="text" name="firstName" value=""><br>
						Last Name :  <input type="text" name="lastName" value=""><br>
						Phone number : <input type="text" name="phoneNumber"><br>
						<input type="button" class="btn" value="retake" id="retake">
						<input type="submit" class="btn" value="submit" id="upload">
					</form>
	        </div>
        </div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script type="text/javascript">
		
		$(document).ready(function(){

			//if Picture is taken, change display to form
			$("#profileBtn").click(function(){
				$("#video_container").hide();
				$("#submitForm").show();
			});

			//Change the display back to Photobooth
			$("#retake").click(function(){
				$("#video_container").show();
				$("#submitForm").hide();

			});
		});

</script>

<style>
	#submitForm
	{
		display: none;
	}


</style>

