<div id="profile_holder2" class="col-md-6">
	{{#otherphoto}}
	
	<a href="/photo/{{_id}}" class="gallery">
		<img src="https://s3.amazonaws.com/hifivepicture/{{image}}" width="320" class="dwdphoto img-polaroid" data-toggle="popover" data-placement="bottom" data-content="{{firstName}}" title="{{firstName}}">
	<p>
	  Index :{{index}}<br>
      First Name : {{firstName}}<br> Last Name : {{last_name}}<br>
	</p>
	<p id="phoneNumber2">
		{{phoneNumber}} 
	</p> 
	</a>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#phoneNumber2").load("/sendSms/{{firstName}}/{{phoneNumber}}");
			console.log("send sms message to number: "+ {{phoneNumber}} );
		});
	</script>

	{{/otherphoto}}


</div>