<div id="profile_holder1" class="col-md-6">
		{{#otherphoto}}
    	
	    	<a href="/photo/{{_id}}" class="gallery">
	    		<img src="https://s3.amazonaws.com/hifivepicture/{{image}}" width="320"  data-placement="bottom" data-content="{{firstName}}" title="{{firstName}}" id="profile_image">

	    	<div id="profile_info">
	    		<p id="profile_info_detail2">
				   {{firstName}} {{last_name}}
		    	</p>
		    	<p id="phoneNumber2">
		    		{{phoneNumber}}
		    	</p>
	    	</div>

	    	</a>
	    	<br>
	    	<div id="profile_btn">
	    		<button onclick="page_refresh();">I want another partner</button >
	    	</div>
	    	<script type="text/javascript">
	    		$(document).ready(function(){
	    			$("#phoneNumber2").load("/sendSms/{{firstName}}/{{phoneNumber}}");
	    			console.log("send sms message to number: "+ {{phoneNumber}} );

	    		});
			</script>
		
    	{{/otherphoto}}

</div> <!-- profile Holder -->
<br>