

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#thecanvas, #thevideo
{
	width: 640px;
	height: 480px;
}
body{
	background: black;
	color : white;
}


div.gallery img
{	
	margin: 5px;
	padding:5px;
	border :1px solid white;
	height : 120px;
	width : auto;
	float : left;
	text-align: center;
	overflow: auto;
	max-height: 300px;
	opacity: 0.5;
	border-radius:5px;
	box-shadow: 4px 4px 1px #888888;
}
div.gallery img:hover
{
	opacity: 1.0;
}


#nav ul
{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
}
#nav li
{	
	list-style-type: none;
	float:right;
}
#nav a:link, a:visited
{
	display:block;
	width:80px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: black;
	text-align: center;
	padding:0px;
	text-decoration: none;
	text-transform: uppercase;

}
a:hover, a:active{
	background-color: #3B3B3B;
}

#howmanypeople
{
	width:320px;
	height:30px;
}




