

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#logo
{
	 font-family: "Rockwell", "Courier New", Courier, Georgia,
                 Times, "Times New Roman", serif;
     text-transform: uppercase;
     font-weight: bold;
}

body
{
	background-color: black;
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}



































